{% for interface in interfaces %}
{% if interface.ip_addresses and interface.name %}
interface {{ interface.name | default([]) }}
  {% if interface.name.startswith("ethernet") %}
  mtu 9216
  no switchport
  {% endif %}
  {% if interface.description %}
  description "{{ interface.description }}"
  {% endif %}
  ip address {{ interface.ip_addresses[0].address }}
{% endif %}
{% endfor %}
