*.txt linguist-detectable=true
*.txt linguist-language=Text
*.json linguist-detectable=true
*.json linguist-language=JSON
*.yaml linguist-detectable=true
*.yaml linguist-language=YAML
*.yml linguist-detectable=true
*.yml linguist-language=YAML
*.rsc linguist-detectable=true
interfaces linguist-detectable=true
interfaces linguist-language=YAML
hosts linguist-detectable=true
hosts linguist-language=YAML
*.md linguist-detectable=true
*.md linguist-language=Markdown