---
- name: Provisioning Spine-DellEMCS4048-ON with latest config
  hosts: spine-s4048-on0
  connection: network_cli
  gather_facts: no
  collections:
    dellemc.os9

  vars:
    interfaces:
      - name: 1/1
        desc: link to AS4200000001
        address: 172.16.255.3/31
      - name: 1/2
        desc: link to AS4200000001
        address: 172.16.255.1/31
      - name: 1/4 
        desc: link to AS4200000002 
        address: 172.16.255.6/31
    bgp:
      system_as:
        4200000000
      rid:
        172.16.0.0
      ebgpmaxpaths:
        4
    neighbors:
      - ip: 172.16.255.0 
        as: 4200000001
      - ip: 172.16.255.2
        as: 4200000001 
      - ip: 172.16.255.5
        as: 4201000000
      - ip: 172.16.255.7 
        as: 4200000002

  tasks:
    - name: generating config from template
      ansible.builtin.template:
        src: spine-config.j2
        dest: ./generatedconfig.txt 

    - name: pushing config to Spine-DellEMCS4048-ON
      dellemc.os9.os9_config:
        src: ./generatedconfig.txt
        save: yes
