protocols {
    bgp {
        group UNDERLAY {
            type external;
{% for peer in device_context.ebgp_peers %}
            neighbor {{ peer.remote_ip }} {
                peer-as {{ peer.remote_as }};
              }
{% endfor %}
          }
      }
  }
