**/.terraform/*

*.lock.hcl

*.tfstate
*.tfstate.*

crash.log

#.tfvars can contain sensitive data
*.tfvars
*.tfvars.json
terraform_secret

override.tf
override.tf.json
*_override.tf
*_override.tf.json
